<!--Codigo HTML que muestra confirmacion de agregar usuario-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/confirmacion.css">
        <title>Confirmación</title>
    </head>
    <body>
        <div class="container-fluid">
            <br>
            <br>
            <header>
                <h1 class="container titulo">¡Registro exitoso!</h1>
            </header>
            <div class="container texto">
                <br>
                <p>El usuario ha sido registrado.</p>
                <br>
                <div class="boton">
                    <button id="redirect" class="btn btn-outline-dark">Continuar</button>
                </div>
                <br>
            </div>
        </div>

        <script type="text/javascript">
            document.getElementById("redirect").onclick = function () {
                location.href = "/estudiante/login";
            };
        </script>
    </body>
</html>