<!-- 
Dashboards Juego: Time revolution para STEAM
Código realizado por:
Diego Alejandro Juárez Ruiz - A01379566
Luis Enrique Zamarripa Marín - A01379918
Ultima modificación: 28/04/2021
- Código HTML que muestra los dashboards
-->
<!DOCTYPE html>
<!--HTML de página de confirmación de agregación de usuario-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/Dashboard.css">
        <title>Dashboard de Datos</title>
    </head>
    <body>
        <div class="container-fluid">
            <br>
            <br>
            <header>
                <h1 class="container titulo">Dashboard de datos</h1>
            </header>
            <div class="container texto">
                <br>
                <p>En los siguientes links podrás ver los dashboards</p>
                <br>
                <a href="https://public.tableau.com/profile/diego.alejandro.ju.rez#!/vizhome/DashboardTimeRevolution/Dashboard1">Dashboard marcadores generales dej juego</a>
                <br>
                <a href="https://public.tableau.com/profile/diego.alejandro.ju.rez#!/vizhome/DashboardTimeRevolution/Dashboard2">Dashboard marcadores habilidades STEAM</a>
                <br><br>
                <div class="boton">
                    <button id="cerrar" class="btn btn-outline-danger">Cerrar sesión</button>
                    <button id="regresar" class="btn btn-outline-info">Registros</button>
                </div>
                <br>
            </div>
        </div>

        <script type="text/javascript">
            document.getElementById("cerrar").onclick = function () {
                location.href = "/steam/loginsteam";
            };
            document.getElementById("regresar").onclick = function () {
                location.href = "/steam/registros";
            };
        </script>
    </body>
</html>