<!-- 
Login Juego: Time revolution para STEAM
Código realizado por:
Diego Alejandro Juárez Ruiz - A01379566
Luis Enrique Zamarripa Marín - A01379918
Ultima modificación: 20/04/2021
- Código HTML Login de usuario
-->
<!DOCTYPE html>
<html>
<!-- Contenedor para el fondo del la pagina -->
    <head>
        <!--Inclusión de la decodificación del idioma español -->
        <meta charset="UTF-8">
        <!--Escala para cualquier pantalla -->
        <meta name="viewport" content="width = device-width, initial-scale= 1">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous">
        <!--Importamos archivo CSS -->
        <link rel="stylesheet" href="/css/login.css"/>
        <title>Incio de sesión</title>
    </head>
    <body>
        <div class="container-fluid">
            <br>
            <br>
            <div class="container" id="titulos">
                <header>
                    <h1>Iniciar Sesión</h1>
                </header>
            </div>
            
            <div class="container">
                <br>
                <p>Ingresa tu información para iniciar sesión</p>
                <br>
                <form action="/estudiante/login" method="POST" class="form-floating needs-validation" novalidate>
                    <div class="row">
                        <label> Usuario o Nickname</label>
                        <input type="text" class="form-control" placeholder="Ingrese su nickname" id="loginusuario"
                        name="loginusuario" required>
                    </div>
                    <div class="row">
                        <label> Contraseña</label>
                        <input type="password" class="form-control" placeholder="Ingrese su contraseña" id="logincontrasena"
                        name="logincontrasena" required>
                    </div>
                    <br>
                    <div class="botones">
                        <button class="btn btn-outline-danger" type="reset">Borrar</button>
                        <button class="btn btn-outline-dark" type="entrar">Enviar</button>
                    </div>
                    <br><br>
                    <div class = "registro">
                    <p>¿Todavia no tienes una cuenta?</p>
                    <button type="button" id="redirect" class="btn btn-outline-info">Registrame</button>
                    </div>
                    <br>
                </form>
            </div>
            <br><br><br>
        </div>
        <footer>
            <p>Conoce a STEAM en su <a href="https://movimientosteam.org/">pagina web</a> </p>
        </footer>
        <!--Importamos el archivo Javascript -->
        <%warnings.forEach((warning)=>{%>
            <script>
                document.addEventListener("DOMContentLoaded", function(event) {
                    alert("Usuario o contraseña incorrectos")
                });
              </script>
        <%})%>
        <script src="/js/FormularioJS.js"></script>
        <script>
            document.getElementById("redirect").onclick = function () {
                location.href = "/estudiante/agregarJugador";
            };
        </script>
</body>
</html>