<!--Codigo HTML que muestra el portal de login de administrador para STEAM-->

<!DOCTYPE html>
<html>
<!-- Contenedor para el fondo del la pagina -->
    <head>
        <!--Inclusión de la decodificación del idioma español -->
        <meta charset="UTF-8">
        <!--Escala para cualquier pantalla -->
        <meta name="viewport" content="width = device-width, initial-scale= 1">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
            crossorigin="anonymous">
        <!--Importamos archivo CSS -->
        <link rel="stylesheet" href="/css/login.css"/>
        <title>Incio de sesión</title>
    </head>
    <body>
        <div class="container-fluid">
            <br>
            <br>
            <div class="container" id="titulos">
                <header>
                    <h1>Iniciar Sesión</h1>
                </header>
            </div>
            
            <div class="container">
                <br>
                <p>Ingresa tu información para iniciar sesión</p>
                <br>
                <form action="/steam/loginsteam" method="POST" class="form-floating needs-validation" novalidate>
                    <div class="row">
                        <label> Usuario de administrador</label>
                        <input type="text" class="form-control" placeholder="Usuario" id="loginusuario"
                        name="loginusuario" required>
                    </div>
                    <div class="row">
                        <label> Contraseña</label>
                        <input type="password" class="form-control" placeholder="Contraseña" id="logincontrasena"
                        name="logincontrasena" required>
                    </div>
                    <br>
                    <div class="botones">
                        <button class="btn btn-outline-danger" type="reset">Borrar</button>
                        <button class="btn btn-outline-dark">Enviar</button>
                        <button class="btn btn-outline-info" id="usuario"> Login Usuario</button>
                    </div>
                    <br><br>
                </form>
            </div>
            <br><br><br>
        </div>
        <footer>
            <p>Conoce a STEAM en su <a href="https://movimientosteam.org/">pagina web</a> </p>
        </footer>
        <script type="text/javascript">
            document.getElementById("usuario").onclick = function () {
                location.href = "/estudiante/login";
            };
        </script>
        <!--Importamos el archivo Javascript -->
        <script src="/js/FormularioJS.js"></script>
</body>
</html>