<!--Codigo HTML que muestra todos los registros de la BD asi como links a dashboards para los admins-->

<!DOCTYPE html>
<html>
    <head>
        <!--Inclusión de la decodificación del idioma español -->
        <meta charset="UTF-8"/>
        <!--Escala para cualquier pantalla -->
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>
        <!--Importamos archivo CSS -->
        <link rel="stylesheet" href="/css/style.css"/>
        <!--Titulo de pagina-->
        <title>Tablero STEAM</title>
    </head>

    <body>
        <header>
            <div class="container">
                <h1 class="primer-elemento">Tablero de datos</h1>
            </div>
        </header>
        <!--Contenedor de todo el tablero -->
        <div class="container cuerpo">
            <!--Tabla con datos importantes para STEAM -->
            <table class="table table-hover table-bordered table-striped" style="text-align: center;" id="tabla">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nickname</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Género</th>
                        <th scope="col">Escolaridad</th>
                        <th scope="col">Grado escolar</th>
                        <th scope="col">Estado de la República</th>
                        <th scope="col">Correo electrónico</th>
                    </tr>
                </thead>
                <tbody>
                    <%personas.forEach((persona)=>{%>
                    <tr>
                        <td><%=persona.nickname%></td>
                        <td><%=persona.fechaNac%></td>
                        <td><%=persona.genero%></td>
                        <td><%=persona.escolaridad%></td>
                        <td><%=persona.gradoEscolar%></td>
                        <td><%=persona.estadoMex%></td>
                        <td><%=persona.correoElectronico%></td>
                    </tr>
                    <%});%>
                </tbody>
            </table>
            <br>
                <a href="https://public.tableau.com/profile/diego.alejandro.ju.rez#!/vizhome/TimeRevolutionDashboards/DashBoardgenerales">Dashboard marcadores generales dej juego</a>
                <br>
                <a href="https://public.tableau.com/profile/diego.alejandro.ju.rez#!/vizhome/TimeRevolutionDashboards/Dashboard2">Dashboard marcadores habilidades STEAM</a>
            <br><br>
            <div class="boton">
                <button id="cerrar" class="btn btn-outline-danger">Cerrar sesión</button>
            </div>
        <script type="text/javascript">
            document.getElementById("cerrar").onclick = function () {
                location.href = "/steam/loginsteam";
            };
        </script>
    </body>
</html>