/*
Formulario CSS Equipo 3: Time revolution para STEAM
Código realizado por:
Diego Alejandro Juárez Ruiz - A01379566
Roberto Valdez Jasso - A01746863 
Luis Enrique Zamarripa Marín - A01379918
Melissa Garduño Ruiz - A01748945
Renata de Luna Flores - A01750484
Ultima modificación: 09/03/2021
- Código CSS para modificar el Fomulario HTLM.
*/

/* Clases */
.container-fluid{
    background-color: rgb(245, 225, 171);
    height: 100%;
}

.container{
    background-color: rgb(252, 252, 252);
}
.row {
    padding:0.7rem;
}

.botones{
    text-align: center;
}
.registro{
    text-align: center;
}

/* Ids */
#titulos{
    font-family: 'Times New Roman', Times, serif;
}

/* HTML tags */
p{
    font-size: medium;
    margin-bottom: 0px;
}

label{
    font-style:oblique;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

html, body {
    height: 100%;
}

